<% content_for(:title, @resource_attributes[:title]) %>

<div id="page"><div
  class="brahin-resource"
  data-m-editor="<%= @resource_attributes[:editor] %>"
  data-m-editor-url="<%= @resource_attributes[:editor_url] %>"
  data-attributes="<%= JSON.generate(@resource_attributes.except(:body)) %>"
><%= @resource_attributes[:body].html_safe %></div></div></div>
<footer id="page-footer">
</footer>
