<div id="page"></div>

<footer id="page-footer">
  <div><a href="https://memonite.com/" target="blank">Memonite</a> v<%= Memonite::VERSION %></div>
  <div><a href="https://memonite-info.herokuapp.com/user-guide" target="blank">User Guide</a></div>
</footer>
