/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, input, textarea {
   font-family: Open Sans, sans-serif;
   font-weight: 400;
   font-size: 14px;
 }
 @media (min-width: 20em) {
   #page {
     padding: 0.5em;
   }
 }
 @media (min-width: 50em) {
   body {
     background: #F3F6F9;
   }
   #page {
     max-width: 60em;
     margin: 0 auto;
     background: white;
     padding: 3em;
     padding-bottom: 10em;
     min-height: 60vh;
     border-radius: 3px;
     box-shadow: 1px 1px 3px rgba(180, 180, 180, 0.5);
   }
 }

 .m-resource li > p { margin: 0.5em 0; }
 .m-resource .task > .task-contents > p { margin: 0.5em 0;  }
